body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

h1 { color: #2c3e50; }

.form-box {
    display: none;
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 90%;
    padding: 6px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
